{% extends 'base.html.twig' %}

{% block title %}Find a Recipe{% endblock %}

{% block body %}
  <h1 class="my-4">Find something to cook</h1>
 <div class="form">
    <form>
        <div class="form-group">
            <label for="txtRecipe"></label>
            <input type="text" class="form-control" id="txtRecipe" placeholder="Ex: Chicken Tikka Masala">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
